<h1>投稿詳細</h1>
<table border="1" style="border-collapse: collapse">
  <tr>
    <th>タイトル</th>
    <th>メッセージ本文</th>
  </tr>
  <tr>
    <td><%= @message.title %></td>
    <td><%= @message.content %></td>
  </tr>
</table>
